.password {
    background-color: white;
  
    background-image: url();
  
    height: 100%;
  
    /* Center and scale the image nicely */
  
    background-position: center;
  
    background-repeat: no-repeat;
  
    background-size: cover;
    display: flex;
justify-content:flex-start;
align-items: center;
flex-direction: column;
padding-top: 15px;
  }
  .Background{
    background-color:white;
  
    background-image: url();
  
    height: 100%;
  
    /* Center and scale the image nicely */
  
    background-position: center;
  
    background-repeat: no-repeat;
  
    background-size: cover;
  }